/*default styling*/
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/*desecendent selector*/
header h1{
    font-weight: 400;
}

header {
    display: flex;
    justify-content:space-between;
    margin: 0 3rem;
}

nav{
    position: relative;
    top:1rem;
    right:3rem;
    width:20rem;
}

ul{
    display:flex;
    justify-content: space-between;
}


li{
    list-style: none;
    font-size: 1.5rem;

}

/*class selector*/
.showcase_img{
    width:95 vw;
    margin:1rem;
}

artical{
    display: flex;
}


.content{
    text-align:center;
    margin-right: 2rem;
    padding:1.5rem;
}



h2{
    font-size:  600;
}

footer{
    background-color: black;
    color:white;
    height:4rem;
    display: flex;
    justify-content: center;
}


a{
    text-decoration: none;
}


a:hover{
    color:red;
}
    
